.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.fieldgroup {
  padding: 0;
  border-width: 0;
}
.container-inline div,
.container-inline label {
  display: inline-block;
}
.container-inline .details-wrapper {
  display: block;
}
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
.js details:not([open]) .details-wrapper {
  display: none;
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static !important;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
}
.invisible {
  visibility: hidden;
}
.item-list__comma-list,
.item-list__comma-list li {
  display: inline;
}
.item-list__comma-list {
  margin: 0;
  padding: 0;
}
.item-list__comma-list li:after {
  content: ", ";
}
.item-list__comma-list li:last-child:after {
  content: "";
}
.js .js-hide {
  display: none;
}
.js-show {
  display: none;
}
.js .js-show {
  display: block;
}
.nowrap {
  white-space: nowrap;
}
.position-container {
  position: relative;
}
.progress {
  position: relative;
}
.progress__track {
  min-width: 100px;
  max-width: 100%;
  height: 16px;
  margin-top: 5px;
  border: 1px solid;
  background-color: #fff;
}
.progress__bar {
  width: 3%;
  min-width: 3%;
  max-width: 100%;
  height: 16px;
  background-color: #000;
}
.progress__description,
.progress__percentage {
  overflow: hidden;
  margin-top: 0.2em;
  color: #555;
  font-size: 0.875em;
}
.progress__description {
  float: left;
}
[dir="rtl"] .progress__description {
  float: right;
}
.progress__percentage {
  float: right;
}
[dir="rtl"] .progress__percentage {
  float: left;
}
.progress--small .progress__track {
  height: 7px;
}
.progress--small .progress__bar {
  height: 7px;
  background-size: 20px 20px;
}
.reset-appearance {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.resize-none {
  resize: none;
}
.resize-vertical {
  min-height: 2em;
  resize: vertical;
}
.resize-horizontal {
  max-width: 100%;
  resize: horizontal;
}
.resize-both {
  max-width: 100%;
  min-height: 2em;
  resize: both;
}
table.sticky-header {
  z-index: 500;
  top: 0;
  margin-top: 0;
  background-color: #fff;
}
.system-status-counter__status-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.system-status-counter__status-icon:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: 16px;
}
.system-status-counter__status-icon--error:before {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
.system-status-counter__status-icon--warning:before {
  background-image: url(/core/misc/icons/e29700/warning.svg);
}
.system-status-counter__status-icon--checked:before {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
.system-status-report-counters__item {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.063);
}
@media screen and (min-width: 60em) {
  .system-status-report-counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .system-status-report-counters__item--half-width {
    width: 49%;
  }
  .system-status-report-counters__item--third-width {
    width: 33%;
  }
}
.system-status-general-info__item {
  margin-top: 1em;
  padding: 0 1em 1em;
  border: 1px solid #ccc;
}
.system-status-general-info__item-title {
  border-bottom: 1px solid #ccc;
}
.tablesort {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100%;
}
.tablesort--asc {
  background-image: url(/core/misc/icons/787878/twistie-down.svg);
}
.tablesort--desc {
  background-image: url(/core/misc/icons/787878/twistie-up.svg);
}
div.tree-child {
  background: url(/core/misc/tree.png) no-repeat 11px center;
}
div.tree-child-last {
  background: url(/core/misc/tree-bottom.png) no-repeat 11px center;
}
[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
  background-position: -65px center;
}
div.tree-child-horizontal {
  background: url(/core/misc/tree.png) no-repeat -11px center;
}
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}
.views-view-grid .views-col {
  float: left;
}
.views-view-grid .views-row {
  float: left;
  clear: both;
  width: 100%;
}
.views-display-link + .views-display-link {
  margin-left: 0.5em;
}
svg.ext {
  width: 14px;
  height: 14px;
  padding-right: 0.2em;
  fill: #727272;
  font-weight: 900;
}
svg.mailto {
  width: 14px;
  height: 14px;
  padding-right: 0.2em;
  fill: #727272;
}
svg.ext path,
svg.mailto path {
  stroke: #727272;
  stroke-width: 3;
}
@media print {
  svg.ext,
  svg.mailto {
    display: none;
    padding: 0;
  }
}
extlink i {
  padding-left: 0.2em;
}
.layout--twocol-section {
  display: flex;
  flex-wrap: wrap;
}
.layout--twocol-section > .layout__region {
  flex: 0 1 100%;
}
@media screen and (min-width: 40em) {
  .layout--twocol-section.layout--twocol-section--50-50
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--50-50
    > .layout__region--second {
    flex: 0 1 50%;
  }
  .layout--twocol-section.layout--twocol-section--33-67
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--67-33
    > .layout__region--second {
    flex: 0 1 33%;
  }
  .layout--twocol-section.layout--twocol-section--33-67
    > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--67-33
    > .layout__region--first {
    flex: 0 1 67%;
  }
  .layout--twocol-section.layout--twocol-section--25-75
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--75-25
    > .layout__region--second {
    flex: 0 1 25%;
  }
  .layout--twocol-section.layout--twocol-section--25-75
    > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--75-25
    > .layout__region--first {
    flex: 0 1 75%;
  }
}
