.view-content{
    /* border: 1px solid black; */
    /* width: 143% !important; */
}

.form-group{
    border: 1px solid black;
    width: 100% !important;
}
.views-element-container{
    width: 143% !important;
}